/* Estilizando o Rodapé */
#footer_container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 10px;
}


#container_contato{
    font-size: 18px;
    padding: 15px;
}

#icon_contato{
    font-size: 100px;
    vertical-align: bottom;
}