/* Estilizando o Topo */

.container_header{
    width:100%;
    height: 150px;
    background-color: var(--secundary-color);
    color:var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_topo{
    width: 70%;
    height:60%;
    background-color: white;
    border-bottom-right-radius: 50px;
    box-shadow: 3px 3px 5px #535353;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.container_topo h1{
    font-size: 40px;
    color:var(--text-secundary-color);
    text-shadow: 2px 2px 4px var(--secundary-color);
}

.icons_topo{
    font-size: 40px;
    vertical-align: bottom;
    color:var(--text-secundary-color);
}

.lista_menu{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
}

.menu_item{
    width: 150px;
    height: 30px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

.menu_link{
    text-decoration: none;
    color: var(--text-color);
    width: 150px;
    height: 30px;
}

.menu_link:hover{
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}


/* Estilizando a seção principal*/
.main_container{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.main_container h1 {
    padding: 10px;
    font-size: 40px;
    text-shadow: 3px 3px 5px gray;
}

.main_container p{
    max-width: 1024px;
    padding: 10px;
    font-size: 20px;
}

.img_secao{
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Estilizando a Seção Competências */
.secao_competencias{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height:auto;
    background-color: #066BE4;
    padding: 20px;
}

.card_container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 15px;
}

.titulo_secao{
    margin-top: 20px;
    color: var(--text-color);
    text-align: center;
    text-shadow: 2px 2px 4px var(--background-secundary-color);
}

.link_cards{
    text-decoration: none;
    color: var(--text-secundary-color);
    text-align: center;
}

.card_container a:hover{
    text-shadow: 2px 2px 4px var(--background-color);
}

/* Estilizando a Seção Sobre */

.secao_sobre{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.secao_sobre h2{
    text-shadow: 3px 3px 5px gray;
}

.secao_sobre p {
    max-width: 1024px;
    padding: 10px;
    font-size: 20px;;
}

/*
    Criando a Responsividade da página principal
*/

/* Telas de até no máximo 425 pixels*/
@media (max-width: 425px){
/* Estilizando o Topo */

.container_header{
    width:100%;
    height: 160px;
}

.container_topo{
    width: 90%;
    height:50%;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
}

.container_topo h1{
    font-size: 24px;
    color:var(--text-secundary-color);
    text-shadow: 2px 2px 4px var(--secundary-color);
}

.icons_topo{
    font-size: 22px;
    vertical-align: bottom;
    color:var(--text-secundary-color);
}

.lista_menu{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Ajustando a Seção Main */
.main_container h1 {
    padding: 15px;
    font-size: 30px;
    text-align: center;
}
}