.nav_container{
    width: 300px;
    height: 100vh;
    border-right: solid 5px black;
    border-radius: 50px;
     /* Mudar o position  para absolute heim!*/
}

.menu{
    font-size: 24px;
    padding: 5px;
    border-radius: 25px;
}

.lista{
    list-style-type: none;
    padding: 10px;
    margin: 20px;
}