.secao_projetos{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height:auto;
    background-color: var(--secundary-color);
}

.card_container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
}

.card_container a{
    text-decoration: none;
    color: var(--text-secundary-color);
}

.card_container a:hover{
    text-shadow: 2px 2px 4px var(--background-color);
}

.titulo_secao{
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    text-shadow: 3px 3px 5px black;
}